selleraxis/invoice/services/Home_Depot_XML_Invoice.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2020 sp1 (x64) (http://www.altova.com) by William Wood (CommerceHub) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="InvoiceMessageBatch">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="partnerID">
					<xs:annotation>
						<xs:documentation>partner_id</xs:documentation>
					</xs:annotation>
					<xs:complexType mixed="true">
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="name" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>partner_name</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="roleType" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>partner_role</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="hubInvoice" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="participatingParty" maxOccurs="unbounded">
								<xs:complexType mixed="true">
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="name" type="xs:string" use="required">
												<xs:annotation>
													<xs:documentation>participating_party.name</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="roleType" default="merchant">
												<xs:annotation>
													<xs:documentation>participating_party.role_type</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="merchant"/>
														<xs:enumeration value="vendor"/>
														<xs:enumeration value="shipper"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:attribute name="participationCode" default="To:">
												<xs:annotation>
													<xs:documentation>participation_code</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="Cc:"/>
														<xs:enumeration value="To:"/>
														<xs:enumeration value="From:"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="partnerTrxID" type="xs:string">
								<xs:annotation>
									<xs:documentation>batch.batch_number</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="partnerTrxDate" type="xs:string">
								<xs:annotation>
									<xs:documentation>order_date</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="poNumber" type="xs:string">
								<xs:annotation>
									<xs:documentation>po_number</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="trxShipping" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>trx_shipping</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="trxHandling" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>trx_handling</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="trxTax" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>trx_tax</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="trxCredits" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>trx_credits</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="trxBalanceDue" type="xs:string">
								<xs:annotation>
									<xs:documentation>trx_balance_due</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="trxData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="creditBreakout" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>credit_breakout</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="discountBreakout" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>discount_breakout</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="miscChargeBreakout" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>misc_charge_breakout</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="orderDate" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>order_date</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="hubAction" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>items.[items_id]</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="action" default="v_invoice">
											<xs:annotation>
												<xs:documentation>action</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="v_invoice"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="merchantLineNumber" type="xs:string">
											<xs:annotation>
												<xs:documentation>items.[items_id].merchant_line_number</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="trxQty" type="xs:string">
											<xs:annotation>
												<xs:documentation>items.[items_id].qty_ordered</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="trxUnitCost" type="xs:string">
											<xs:annotation>
												<xs:documentation>items.[items_id].unit_cost</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CARBformaldehydeComplianceCode" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>carb_code</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="invoiceDetailLink">
											<xs:complexType mixed="true">
												<xs:attribute name="invoiceDetailID" type="xs:IDREF" use="required">
													<xs:annotation>
														<xs:documentation>invoice_order.invoice_id</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="packageDetailLink" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>action</xs:documentation>
											</xs:annotation>
											<xs:complexType mixed="true">
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="packageDetailID" type="xs:IDREF" use="required">
															<xs:annotation>
																<xs:documentation>items.[items_id].package</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="invoiceDetail" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="remitTo">
											<xs:complexType>
												<xs:attribute name="personPlaceID" type="xs:IDREF" use="required">
													<xs:annotation>
														<xs:documentation>batch.retailer.remit_id</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="invoiceDetailID" type="xs:ID" use="required">
										<xs:annotation>
											<xs:documentation>invoice_order.invoice_id</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="packageDetail" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>order_packages.[order_packages_id]</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="shipDate" type="xs:string">
											<xs:annotation>
												<xs:documentation>order_packages.[order_packages_id].ship_date</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="serviceLevel1" type="xs:string">
											<xs:annotation>
												<xs:documentation>order_packages.[order_packages_id].service_level_1</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="trackingNumber" type="xs:string">
											<xs:annotation>
												<xs:documentation>order_packages.[order_packages_id].tracking_number</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="packageDetailID" type="xs:ID" use="required">
										<xs:annotation>
											<xs:documentation>order_packages.[order_packages_id].id</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="personPlace" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="partnerPersonPlaceId" type="xs:string">
											<xs:annotation>
												<xs:documentation>batch.retailer.remit_id</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="personPlaceID" type="xs:ID" use="required">
										<xs:annotation>
											<xs:documentation>batch.retailer.remit_id</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="messageCount" type="xs:string">
					<xs:annotation>
						<xs:documentation>message_count</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--Breakout elements are used to provide supporting detail for a monetary amount-->
	<xs:element name="handlingBreakout">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="handlingType" type="xs:string" use="required"/>
					<xs:attribute name="currencyUnit" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="creditBreakout">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="creditType" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="taxBreakout">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="taxType" type="xs:string" use="required"/>
					<xs:attribute name="currencyUnit" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="discountBreakout">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="discTypeCode">
						<xs:annotation>
							<xs:documentation>Code for type of discount expected by Retailer</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="01"/>
								<xs:enumeration value="09"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="discDateCode">
						<xs:annotation>
							<xs:documentation>Code for type of date qualification for discount</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="2"/>
								<xs:enumeration value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="discPercent" type="xs:string"/>
					<xs:attribute name="discDaysDue" type="xs:string"/>
					<xs:attribute name="netDaysDue" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="miscChargeBreakout">
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="alwChgIndicator" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>This attribute will contain a code "C" indicating this is a charge.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="chargeType" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>Code representing charge or allowance</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
